@keyframes dash {
    to {
      stroke-dashoffset: 100;
    }
}

.view {
    grid-area: view;
    border: 1px solid blue;
}

.svgWrapper {
    height: 100%;
}

.svg {
    width: 100%;
    height: 100%;
}


.fitting {
    stroke: #3f3;
    fill: #9f9;
}

.notFitting {
    fill: #f00;
    opacity: 0.5;
}

.movingLine {
    stroke-dasharray: 10 10;
    animation: dash 5s linear infinite;
}
