.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 1fr;
  grid-template-areas: "selector view"
    "selector .";
  min-height: calc(100vh - 120px);
}

@media (max-width: 767px) {
  .main {
    grid-template-areas: "view view"
      "selector selector";
  }
}

